@charset "utf-8";

body {
	width:100%;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
thead,
tfoot,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
ul,
ol {
	list-style: none;
}
ul:after,
ol:after {
	content: "";
	display: block;
	clear: both;
}
table {
	border-collapse: separate;
	border-spacing: 0;
	vertical-align: middle;
}
caption,
th,
td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}
a img {
	border: none;
}
input,
button {
	margin: 0;
	padding: 0
}
input::-moz-focus-inner,
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}
html,
body,
#container {
	height: auto;
}
body {
	color: #565a5f;
	background: #f5f8f9;
	font: 13px OpenSans, "Microsoft Yahei", Arial, sans-serif;
}
a,
a:visited {
	color: #565a5f;
	text-decoration: none;
}
a:hover {
	color: #38b7ea;
}

/* 头部 */
.header {
	width: 100%;
	float:left;
	background: white;
}
#logo,
#face {
	display: inline-block;
	float: left;
	padding: 10px 10px;
}
#logo .logo {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(../image/logo.png) no-repeat;
	background-size: cover;
}
#face .face {
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	background: url(../image/anime.jpg) no-repeat;
	background-size: cover;
}
#nav {
	float: left;
	margin: 0 20px;
}
#nav li {
	padding: 23px 15px;
	float: left;
	font-size: 1.1em;
	font-weight: bold;
}
#search-wrap {
	float: right;
	margin-right: 10px;
}
#search-wrap .search-form {
	display: block;
    padding-top: 10px;
}
#search-wrap .search-form-input {
	width: 160px;
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    border: 1px solid #eceff2;
    font: normal 13px OpenSans;
    outline: none;
    transition: width .5s;
}
#search-wrap .search-form-input:focus {
	border: 1px solid #38b7ea;
    -webkit-box-shadow: 0 0 5px #38b7ea;
    -moz-box-shadow: 0 0 5px #38b7ea;;
    box-shadow: 0 0 5px #38b7ea;
    width: 200px;
}
#search-wrap .search-form-submit {
	border: none;
	background: none;
	position: relative;
	z-index: 1;
	top: 3px;
	right: 30px;
}

.outer {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 30px;
}
.outer:after {
	content: "";
	display: block;
	clear: both;
}

/* 左侧个人信息 */
#profile {
	width: 20%;
	float:left;
	margin-right: 2%;
}
/* 文章 */
#content {
	width: 55%;
	margin-right: 2%;
	float:left;
}
/* 右侧边栏 */
#sidebar {
	width: 21%;
	float:left;
}

@media screen and (min-width: 1025px) {
	#logo {
		display: block;
	}
	#face {
		display: none;
	}
}
@media screen and (max-width: 1024px) {
	#logo {
		display: none;
	}
	#face {
		display: block;
	}
	#profile {
		display: none;
	}
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
	#content {
		display: block;
		width: 70%;
	}
	#sidebar {
		display: block;
		width: 27%;
	}
}
@media screen and (max-width: 414px) {
	#search-wrap {
		display: none;
	}
	#sidebar {
		display: none;
	}
	.outer {
		padding: 0;
	}
	#content {
		width: 100%;
	}
}

/* 基本信息 */
#profile .inner {
	margin-top: 3em;
	background: #fff;
}
#profile .base-info {
	padding: 15px 20px;
	border-bottom: 1px solid #eceff2;
	text-align: center;
}
#profile .base-info img {
	display: block;
	width: 150px;
	height: 150px;
	margin: 10px auto 20px;
}
#profile .base-info .name {
	font-size: 1.5em;
	font-weight: 600;
	line-height: 30px;
}
#profile .base-info .post {
	line-height: 25px;
}
#profile .base-info .location {
	font-size: .8em;
}
#profile .contact-info {
	padding: 10px 10px;
	text-align: center;
}
#profile .contact-list {
	overflow: hidden;
}
#profile .contact-list li{
	display: inline-block;
	padding: 10px 10px;
	font-size: 20px;
}
#profile .contact-list a {
	color: #898d92;
}
#profile .contact-list a:hover {
	color: #38b7ea;
}
#profile .contact-code {
	display: none;
}
#profile .contact-code img {
	width: 200px;
	height: 200px;
}

/* 博客正文 */
#content .article {
	margin: 3em 0;
}
.article-inner {
	overflow: hidden;
	background: #fff;
}
.article-inner .article-banner {
	width: 100%;
	height: auto;
}
.article-inner .article-header {
	padding: 1em 2em;
}
.article-header .article-title {
	font-size: 1.7em;
	font-weight: 600;
	line-height: 3em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}
.article-header .article-meta:after {
	content: "";
	display: block;
	clear: both;
}
.article-meta .article-date,
.article-meta .article-category {
	float: left;
	margin-right: 2em;
	color: #999;
}
.article-meta .icon {
	display: inline-block;
}
.article-meta a {
	color: #999;
}
.article-meta a:hover {
	color: #38b7ea;
}
.article-inner .article-body {
	padding: 0 2em;
}
.article-body .article-entry {
	position: relative;
	line-height: 1.8em;
	max-height: 5.4em;
	overflow: hidden;
	color: #565a5f;
}
.article-body .article-entry:after {
	content: "...";
	font-weight: bold;
	color: #9a9ea3;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0 20px 1px 45px;
	background: url(../image/ellipsis_bg.png) repeat-y;
}
.article-body .article-more {
	line-height: 1.5em;
	margin: 2.2em 0;
}
.article-body .article-more a{
	padding: .7em 2em;
	background: #f5f8f9;
	-webkit-border-radius: 1.5em;
	border-radius: 1.5em;
	color: #999;
}
.article-body .article-more a:hover {
	background: #38b7ea;
	color: #fff;
}
.article-footer {
	margin: 0 2em 1.5em;
	padding-top: 1.5em;
	line-height: 2em;
	font-size: 1em;
	border-top: .1em solid #e2eff2;
}
.article-footer:after {
	content: "";
	display: block;
	clear: both;
}
.article-footer a {
	display: inline-block;
	float: right;
	margin-left: 2em;
	font-size: .8em;
	color: #999;
}
.article-footer a:hover {
	color: #565a5f;
}
#sidebar .recents {
	margin-top: 3em;
}
.recents .recents-title {
	font-weight: normal;

}
.recents ul {
	margin: 1.5em 0 0 .5em;
}
.recents .recents-item {
	width: 100%;
	float: left;
}
.recents-item .item-inner {
	position: relative;
	min-height: 105px;
}
.recents-item .item-category {
	padding-left: 7em;
	line-height: 1.8em;
	color: #38b7ea;
}
.recents-item .item-desc {
	position: absolute;
	top: 0;
	left: 0;
}
.recents-item .item-link {
	display: inline-block;
}
.recents-item .item-pic {
	width: 6em;
	height: 6em;
	float: left;
	opacity: 1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.recents-item .item-link:hover .item-pic {
	opacity: 0.8;
}
.recents-item .item-title {
	display: inline-block;
	margin-left: 7em;
	line-height: 1.6em;
	margin-top: -4.2em;
	float: left;
	max-height: 3.2em;
	overflow: hidden;
}
.recents-item .item-time {
	display: block;
	margin: -1.4em 0 0 7em;
	color: #999;
}
#to-top {
	position: fixed;
	right: 2%;
	bottom: 20px;
	padding: .9em 1.3em 1.3em;
	background: #000;
	opacity: 0.8;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
}

.footer {
	width: 100%;
	height: 20%;
	float:left;
	background: #f5f8f9;
}
/* 底部 */
.footer{
	clear:both;
	text-align:center;
	padding: 30px 0;
	border-top:1px solid #eceff2;
}
.footer a{
	color:#38b7ea;
}