@charset "utf-8";
/**
 * CSS Global Style
 * @author: Argevolle;
 * @data: 2015-06-30;
 */

/**
 * 初始化浏览器默认样式
 */
body {
    position: relative;
    font: 13px/1.5 OpenSans, "Microsoft Yahei", "Helvetica Neue", Arial, sans-serif;
    color: #7b7b7b;
    background: #fff;
    margin: 0;
    padding: 0;
}

ul li,
ol li {
    list-style: none;
}

a,
input,
textarea,
button,
select {
    outline: none;
}

a {
    color: #2f2f2f;
    text-decoration: none;
}

a:hover {
    color: #e15d5d;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

:focus {
    outline: none !important;
    text-decoration: none;
}

::selection {
    background: #e15d5d;
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    vertical-align: middle;
}

.clear {
    *zoom: 1;
}

.clear:after {
    content: '';
    display: table;
    clear: both;
}

.container {
    position: relative;
}

.blog-content {
    background: #f7f9f9;
}